<h1>Welcome to Rock, paper, scissors</h1>

<p> is a hand game usually played between two people, in which each player simultaneously forms one of three shapes with an outstretched hand. These shapes are "rock" (a closed fist), "paper" (a flat hand), and "scissors" (a fist with the index finger and middle finger extended, forming a V</p>

<div><img src="https://devopsgames.files.wordpress.com/2018/01/rps.png?w=750" alt="hand shapes of rock paper scissors"></div>
